{
    "settings": {
        "ecmascript": 6,
        "react": {
            "createClass": "createReactClass", // Regex for Component Factory to use,
            // default to "createReactClass"
            "pragma": "React", // Pragma to use, default to "React"
            "fragment": "Fragment", // Fragment to use (may be a property of <pragma>), default to "Fragment"
            "version": "detect", // React version. "detect" automatically picks the version you have installed.
            // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
            // default to latest and warns if missing
            // It will default to "detect" in the future
            "flowVersion": "0.53" // Flow version
        }
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jquery": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "prefer-arrow-callback": 1,
        "semi": 1,
        "strict": 0,
        "indent": [
            2,
            4
        ],
        "no-undef": 2,
        "quotes": [
            1,
            "single"
        ],
        "no-multiple-empty-lines": [
            1,
            {
                "max": 1,
                "maxEOF": 0
            }
        ],
        "no-multi-spaces": [
            1,
            {
                "exceptions": {
                    "VariableDeclarator": true,
                    "FunctionExpression": true
                }
            }
        ],
        "key-spacing": [
            0,
            {
                "align": "value"
            }
        ],
        "no-underscore-dangle": 0
    },
    "plugins": [
        "react"
    ],
    "ignorePatterns": [
        "node_modules/**/*",
        "public/**/*"
    ]
}