@import '@scss/Bootstrap';

.wrapper {
    width: 100%;
    height: 100%;
    @include flex;
}

.container {
    width: 400px;
    border-radius: 8px;
    padding: 25px;
    background-color: $color-surface;
    box-shadow: 0px 0px 30px rgba(125, 139, 153, 0.2);
}

.row {
    margin-top: 15px;

    &:first-of-type {
        margin-top: 0;
    }
}

.rowSubmit {
    margin-top: 15px;

    display: flex;
    justify-content: flex-end;

    > * {
        margin-right: 15px;
        min-width: 80px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}