@import '@scss/Bootstrap';

%button {
    @include flex;
    height: 30px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    font-weight: 500;
    padding: 0 10px 0 10px;
    user-select: none;

    &:hover {
        color: $color-secondary;
    }
}

.buttonDark {
    @extend %button;

    background-color: $color-primary;
    color: #fff;
}

.buttonLight {
    @extend %button;

    border: 2px solid $color-primary;
    background-color: inherit;
    color: $color-primary
}