@import '@scss/Bootstrap';

$main-width: 650px;

.main {
    position: fixed;
    top: 25px;
    left: 25px;
    bottom: 25px;
    width: 650px;
    background-color: $color-surface;
    box-shadow: 0 0 40px rgba(125, 139, 153, 0.2);
    overflow: auto;
    border-radius: 10px;

    @include removeScrollbar;

    &__topnav {
        padding: 25px 25px 0 25px;
        display: flex;
        justify-content: space-between;
    }

    &__loading-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        @include flex;

        .loader {
            border: 4px solid transparent;
            border-top: 4px solid $color-secondary;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin .8s linear infinite;
              
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }
    }
}

.data_group {
    padding: 25px;
    border-bottom: 2px solid #E5E8EC;



    &:last-of-type {
        border-bottom: none;
    }

    .header {
        font-size: 20px;
        color: $color-primary;
        font-weight: 500;
    }
}

.banner {
    @include flex;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: $main-width;
    font-size: 45px;
    color: #D7D7D9;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;

    .link:hover {
        color: $color-secondary;
    }
}

.topnav {
    &__user {
        font-size: 20px;
        font-weight: 500;
        color: $color-primary;
    }

    &__buttons {
        button {
            min-width: 80px;
        }
        display: flex;
    }

    &__buttons > * {
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.cv-image {
    position: absolute;
    width: fill(3, 15px, 30);
    height: 4 * 40px + 3 * 15px;
    background-color: inherit;
    border-radius: 4px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    &__select {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0 !important;
        cursor: pointer;
    }
}

.row {
    display: -moz-box;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;

    &:first-of-type {
        margin-top: 0;
    }

    & > * {
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .col {
        &--1 {
            flex: 0 0 100%;
        }
    
        &--2-3 {
            flex: 0 0 calc(66.66666% - 5px);
        }
    
        &--1-3 {
            flex: 0 0 fill(3, 15px, 0);
        }
    }

    &--1 > * {
        flex: 0 0 100%;
    }

    &--2-3 > * {
        flex: 0 0 calc(66.66666% - 5px);
    }

    &--1-3 > * {
        flex: 0 0 fill(3, 15px, 0);
    }

    %icon {
        @include flex;

        flex: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 24px;
    }

    &__delete-icon, &__move-icon {
        @extend %icon;
        margin-right: 0;

        :hover {
            color: $color-secondary;
            text-shadow: 0 0 15px $color-secondary;
        }
    }

    &--right {
        justify-content: flex-end;
    }

    &--history {
        align-items: flex-start;

        .row {
            margin-top: 0;
            margin-bottom: 15px;
        }

        > * {
            margin-right: 0
        }
    }
}