$menu-width: 200px;

.container {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
}

.page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.pageContent {
    margin-left: $menu-width;
    padding: 50px 20px;
}

.menu {
    position: fixed;
    width: $menu-width;
    top: 50px;
    bottom: 50px;
    border-right: 1px solid rgb(235, 235, 235);
    padding-top: 150px;
}

.menuList {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

.menuItem {
    user-select: none;
    font-size: 15px;
    margin: 10px 0 0 0;
    padding: 0;
    color: #8f939c;

    .selected {
        pointer-events: none;
        color: #000;

        &::after {
            content: "()";
        }

        &:hover {

            text-decoration: none;
            cursor: default;
        }
    }
}

.header {
    font-size: 28px;
    user-select: none;
}
